COMPOSE_PROJECT_NAME=mag-dev

TZ=Europe/Amsterdam
MAGENTO_VERSION=2.4.8-p4
MAGENTO_EDITION=community
MAGENTO_BASE_URL=http://localhost/
MAGENTO_BACKEND_FRONTNAME=

MAGENTO_LANGUAGE=nl_NL
MAGENTO_CURRENCY=EUR
MAGENTO_TIMEZONE=Europe/Amsterdam
MAGENTO_USE_REWRITES=1
MAGENTO_ADMIN_FIRSTNAME=Stage
MAGENTO_ADMIN_LASTNAME=Beheer
MAGENTO_ADMIN_EMAIL=admin@example.internal
MAGENTO_ADMIN_USER=admin
MAGENTO_ADMIN_PASSWORD=Admin123!Admin123!

MAGENTO_DB_HOST=db
MAGENTO_DB_PORT=3306
MAGENTO_DB_NAME=mag_dev
MAGENTO_DB_USER=mag_dev_user
MAGENTO_DB_PASSWORD=change-me
MARIADB_ROOT_PASSWORD=root-change-me

MAGENTO_OPENSEARCH_HOST=opensearch
MAGENTO_OPENSEARCH_PORT=9200
MAGENTO_OPENSEARCH_INDEX_PREFIX=magento2
MAGENTO_OPENSEARCH_TIMEOUT=15

MAGENTO_REDIS_HOST=redis
MAGENTO_REDIS_PORT=6379
MAGENTO_RABBITMQ_HOST=rabbitmq
MAGENTO_RABBITMQ_PORT=5672
MAGENTO_RABBITMQ_USER=magento
MAGENTO_RABBITMQ_PASSWORD=magento
MAGENTO_RABBITMQ_VHOST=/

MAGENTO_PUBLIC_KEY=
MAGENTO_PRIVATE_KEY=

PHP_MEMORY_LIMIT=2G
PHP_MAX_EXECUTION_TIME=1800
PHP_UPLOAD_MAX_FILESIZE=64M
PHP_POST_MAX_SIZE=64M

HOST_HTTP_PORT=80
HOST_DB_PORT=3307
HOST_OPENSEARCH_PORT=9200
HOST_RABBITMQ_MANAGEMENT_PORT=15672
